In [2]:
if 6 >= 5:
    print(True)
else:
    print(False)

True

In [3]:
home = "japan"
if home == "japan":
    print("hello,japan!")
else:
    print("hello,world!")

hello,japan!

In [4]:
x = 20
if x == 10:
    print("10!")
else:
    print("分かりません")

分かりません

In [5]:
if 1 == 1:
    print(True)
else:
    print(False)

True

In [6]:
if 3 >= 2:
    print(True)
else:
    print(False)

True

In [7]:
if 7 != 5:
    print(True)
else:
    print(False)

True

In [8]:
if 5 == 4:
    print(True)
else:
    print(False)

False

In [9]:
if 2 < 1:
    print(True)
else:
    print(False)

False

In [12]:
if 2 < 2:
    print(True)
else:
    print(False)

False

In [13]:
if 2 > 1 and 3 == 3:
    print(True)
else:
    print(False)

True

In [14]:
if 4 <= 5 and 3 >= 2:
    print(True)
else:
    print(False)

True

In [15]:
if 7 == 8 or 6 < 7:
    print(True)
else:
    print(False)

True

In [16]:
if 3 == 4 and 5 < 4:
    print(True)
else:
    print(False)

False

In [17]:
if 2 == 2 and 8 == 7:
    print(True)
else:
    print(False)

False

In [18]:
if not 1 == 1:
    print(True)
else:
    print(False)

False

In [19]:
if "a" in ["a", "b", "d"]:
    print(True)
else:
    print(False)

True

In [ ]:
if "apple" in ["apple", "peach"]:
    print(True)
else:
    print(False)

In [21]:
if 6 in [2, 3, 5, 6]:
    print(True)
else:
    print(False)

True

In [22]:
if 5 in [1, 2, 3]:
    print(True)
else:
    print(False)

False

In [24]:
if "b" in ["a, f, y"]:
    print(True)
else:
    print(False)

False

In [25]:
if "red" in ["white", "black"]:
    print(True)
else:
    print(False)

False

In [28]:
if 10 is 10:
    print(True)
else:
    print(False)

True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-28-3f442cd1eb3c>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if 10 is 10:

In [29]:
if 8 is not 8:
    print(True)
else:
    print(False)

False

<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-29-5791c25c2e12>:1: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if 8 is not 8:

In [30]:
if 1 == 2:
    print(True)
elif 2 == 3:
    print(True)
else:
    print(False)

False

In [31]:
if 3 > 5:
    print(True)
elif 3 == 4:
    print(True)
else:
    print(False)

False

In [32]:
for i in [0, 1, 2, 3, 4, 5]:
    print(i)

0
1
2
3
4
5

In [33]:
my_list = [0, 1, 2, 3, 4, 5]
for i in my_list:
    if i % 2 == 0:
        print(i)

0
2
4

In [34]:
my_list = [0, 1, 2, 3, 4, 5]
for i in my_list:
    if i % 2 != 0:
        print(i)

1
3
5

In [39]:
my_list = [0, 1, 2, 3, 4, 5]
my_list[3]

3

In [43]:
my_list = [0, 1, 2, 3, 4, 5]
my_list
item = my_list.pop(3)
item
my_list

[0, 1, 2, 4, 5]

In [52]:
my_list = [0, 1, 2, 3, 4, 5]
my_list[2:5]

[2, 3, 4]

In [55]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
my_list[0]

'okinawa'

In [57]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
my_list
item = my_list.pop(1)
item
my_list

['okinawa', 'osaka', 'fukuoka', 'hokkaido']

In [60]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
my_list_6 = []
for s in my_list:
    if len (s) >= 6:
        my_list_6.append(s)
print(my_list_6)

['okinawa', 'fukuoka', 'hokkaido']

In [61]:
my_list = [0,1,2,3,4,5]
x = 0
for n in my_list:
    x += n
print(x)

15

In [63]:
my_list = [0,1,2,3,4,5]
x = 0
for n in my_list:
    if n % 2 == 0:
        x += n
print(x)

6

In [64]:
for i in range(0, 11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [66]:
for i in range(0, 11):
    if i == 4:
        break
    print(i)

0
1
2
3

In [68]:
for i in range(0, 11):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9
10

In [69]:
my_str = 'okinawa'
for i in 'okinawa':
    print(i)

o
k
i
n
a
w
a

In [3]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
i = 0
for show in my_list:
    new = my_list[i]
    new = new.upper()
    my_list[i] = new
    i += 1
    
print(my_list)

['OKINAWA', 'TOKYO', 'OSAKA', 'FUKUOKA', 'HOKKAIDO']