In [2]:
if 6 >= 5:
    print(True)
else:
    print(False)

True

In [14]:
if 1:
    print(True)
else:
    print(False)

True

In [15]:
if 0:
    print(True)
else:
    print(False)

False

In [5]:
if 1 == 1:
    print(True)
else:
    print(False)

True

In [6]:
if 3 >= 2:
    print(True)
else:
    print(False)

True

In [7]:
if 7 != 5:
    print(True)
else:
    print(False)

True

In [8]:
if 5 == 4:
    print(True)
else:
    print(False)

False

In [9]:
if 2 < 1:
    print(True)
else:
    print(False)

False

In [12]:
if 2 < 2:
    print(True)
else:
    print(False)

False

In [13]:
if 2 > 1 and 3 == 3:
    print(True)
else:
    print(False)

True

In [14]:
if 4 <= 5 and 3 >= 2:
    print(True)
else:
    print(False)

True

In [15]:
if 7 == 8 or 6 < 7:
    print(True)
else:
    print(False)

True

In [16]:
if 3 == 4 and 5 < 4:
    print(True)
else:
    print(False)

False

In [17]:
if 2 == 2 and 8 == 7:
    print(True)
else:
    print(False)

False

In [18]:
if not 1 == 1:
    print(True)
else:
    print(False)

False

In [19]:
if "a" in ["a", "b", "d"]:
    print(True)
else:
    print(False)

True

In [ ]:
if "apple" in ["apple", "peach"]:
    print(True)
else:
    print(False)

In [21]:
if 6 in [2, 3, 5, 6]:
    print(True)
else:
    print(False)

True

In [22]:
if 5 in [1, 2, 3]:
    print(True)
else:
    print(False)

False

In [24]:
if "b" in ["a, f, y"]:
    print(True)
else:
    print(False)

False

In [25]:
if "red" in ["white", "black"]:
    print(True)
else:
    print(False)

False

In [22]:
id(10)
a = 10
if a is a:
    print(True)
else:
    print(False)

True

In [23]:
id(2)
b = 2
if b is not b:
    print(True)
else:
    print(False)

False

In [ ]:
#↑ is演算子ではidがとても重要
#　以前の自分のプログラムはidを使っていなかったのでエラーが起こった

In [30]:
if 1 == 2:
    print(True)
elif 2 == 3:
    print(True)
else:
    print(False)

False

In [31]:
if 3 > 5:
    print(True)
elif 3 == 4:
    print(True)
else:
    print(False)

False

In [32]:
for i in [0, 1, 2, 3, 4, 5]:
    print(i)

0
1
2
3
4
5

In [33]:
my_list = [0, 1, 2, 3, 4, 5]
for i in my_list:
    if i % 2 == 0:
        print(i)

0
2
4

In [34]:
my_list = [0, 1, 2, 3, 4, 5]
for i in my_list:
    if i % 2 != 0:
        print(i)

1
3
5

In [39]:
my_list = [0, 1, 2, 3, 4, 5]
my_list[3]

3

In [26]:
#↑解答
#ちゃんとfor文を使え
my_list = [0, 1, 2, 3, 4, 5]
for i in my_list:
    if i == 3:
        print(i)
        break

3

In [27]:
#別解。continueを使うパターン
for i in my_list:
    if i != 3:
        continue
    print(i)

3

In [43]:
my_list = [0, 1, 2, 3, 4, 5]
my_list
item = my_list.pop(3)
item
my_list

[0, 1, 2, 4, 5]

In [29]:
#↑解答
for i in my_list:
    if i != 3:
        print("3以外"+str(i))
        continue
    print(i)

3以外0
3以外1
3以外2
3
3以外4
3以外5

In [31]:
#解答 3以外表示させる
for i in my_list:
    if i != 3:
        print(i)

0
1
2
4
5

In [34]:
#別解　3以外表示させる
for i in my_list:
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [52]:
my_list = [0, 1, 2, 3, 4, 5]
my_list[2:5]

[2, 3, 4]

In [38]:
for i in my_list:
    if i < 2 or i > 4:
        continue
    print(i)

2
3
4

In [35]:
#解答
for i in my_list:
    if i >= 2 and i <= 4:
        print(i)

2
3
4

In [55]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
my_list[0]

'okinawa'

In [41]:
#↑解答
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if i == 'okinawa':
        print(i)

okinawa

In [57]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
my_list
item = my_list.pop(1)
item
my_list

['okinawa', 'osaka', 'fukuoka', 'hokkaido']

In [42]:
#↑解答  東京以外を表示
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if i != 'tokyo':
        print(i)

okinawa
osaka
fukuoka
hokkaido

In [43]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
my_list_6 = []
for i in my_list:
    if len (i) >= 6:
        my_list_6.append(i)
print(my_list_6)

['okinawa', 'fukuoka', 'hokkaido']

In [44]:
#別解↓　↑は教科書を見てやったもの。複雑でわかりにくい気がする
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for i in my_list:
    if len(i) >= 6:
        print(i)
#やっぱり↑のほうがまとまっている。自分で書いたものを見ても理解できない…

okinawa
fukuoka
hokkaido

In [61]:
my_list = [0,1,2,3,4,5]
x = 0
for n in my_list:
    x += n
print(x)

15

In [46]:
#別解
my_list = [0,1,2,3,4,5]
my_sum = 0
for n in my_list:
    my_sum += n
print(my_sum)

15

In [63]:
my_list = [0,1,2,3,4,5]
x = 0
for n in my_list:
    if n % 2 == 0:
        x += n
print(x)

6

In [64]:
for i in range(0, 11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [66]:
for i in range(0, 11):
    if i == 4:
        break
    print(i)

0
1
2
3

In [68]:
for i in range(0, 11):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9
10

In [69]:
my_str = 'okinawa'
for i in 'okinawa':
    print(i)

o
k
i
n
a
w
a

In [3]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
i = 0
for show in my_list:
    new = my_list[i]
    new = new.upper()
    my_list[i] = new
    i += 1
    
print(my_list)

['OKINAWA', 'TOKYO', 'OSAKA', 'FUKUOKA', 'HOKKAIDO']

In [3]:
a = 0
while a < 10:
    print('{}'.format(a))
    a += 1
print("ok")

0
1
2
3
4
5
6
7
8
9
ok

In [4]:
a = 0
while a < 10:
    if a % 2 == 0:
        print(a)
    a += 1

0
2
4
6
8

In [16]:
with open("Hello.txt", "w") as f:
    f.write("Hello!!")

In [17]:
f = open("Hello.txt", "r")
data = f.readline()
print(data)
f.close()

Hello!!

In [19]:
with open("HelloPython.txt", "w") as f:
    f.write("Hello Python!!")
    f.close

In [24]:
with open("HelloPython.txt", "r") as f:
    data = f.readline()
    print(data)

Hello Python!!

In [25]:
my_list = []

with open("HelloPython.txt", "r") as f: 
    my_list.append(f.read())
    
print(my_list)

['Hello Python!!']